* {
  --d: initial;
  --float: initial;
  --clear: initial;
  --fit: initial;
  --obj: initial;
  --flow: initial;
  --flow-x: initial;
  --flow-y: initial;
  --scroll: initial;
  --scroll-x: initial;
  --scroll-y: initial;
  --pos: initial;
  --inset: initial;
  --inset-x: initial;
  --inset-y: initial;
  --top: initial;
  --bottom: initial;
  --left: initial;
  --right: initial;
  --z: initial;
  --flx: initial;
  --flx-dir: initial;
  --flx-wrap: initial;
  --flx-grow: initial;
  --flx-shrink: initial;
  --right: initial;
  --right: initial;
  --right: initial;

  display: var(--d);
  float: var(--float);
  clear: var(--clear);
  object-fit: var(--fit);
  object-position: var(--obj);
  overflow: var(--flow);
  overflow-x: var(--flow-x);
  overflow-y: var(--flow-y);
  overscroll-behavior: var(--scroll);
  overscroll-behavior-x: var(--scroll-x);
  overscroll-behavior-y: var(--scroll-y);
  position: var(--pos);
  position: var(--pos);
  position: var(--pos);
  position: var(--pos);
  position: var(--pos);
  position: var(--pos);
  position: var(--pos);

  top: var(--inset, var(--inset-y, var(--top)));
  bottom: var(--inset, var(--inset-y, var(--bottom)));
  left: var(--inset, var(--inset-x, var(--left)));
  right: var(--inset, var(--inset-x, var(--right)));
  display: var(--z);

}
