* {
  --d: initial;
  --float: initial;
  --clear: initial;
  --fit: initial;
  --obj: initial;
  --flow: initial;
  --flow-x: initial;
  --flow-y: initial;
  --scroll: initial;
  --scroll-x: initial;
  --scroll-y: initial;
  --pos: initial;
  --inset: initial;
  --inset-x: initial;
  --inset-y: initial;
  --top: initial;
  --bottom: initial;
  --left: initial;
  --right: initial;
  --z: initial;
  --flx: initial;
  --flx-dir: initial;
  --flx-wrap: initial;
  --flx-grow: initial;
  --flx-shrink: initial;
  --order: initial;
  --p: initial;
  --px: initial;
  --py: initial;
  --pt: initial;
  --pb: initial;
  --pl: initial;
  --pr: initial;
  --m: initial;
  --mx: initial;
  --my: initial;
  --mt: initial;
  --mb: initial;
  --ml: initial;
  --mr: initial;
  --w: initial;
  --min-w: initial;
  --max-w: initial;
  --h: initial;
  --min-h: initial;
  --max-h: initial;

  display: var(--d);
  float: var(--float);
  clear: var(--clear);
  object-fit: var(--fit);
  object-position: var(--obj);
  overflow: var(--flow);
  overflow-x: var(--flow-x);
  overflow-y: var(--flow-y);
  overscroll-behavior: var(--scroll);
  overscroll-behavior-x: var(--scroll-x);
  overscroll-behavior-y: var(--scroll-y);
  position: var(--pos);
  top: var(--top, var(--inset-y, var(--inset)));
  bottom: var(--bottom, var(--inset-y, var(--inset)));
  left: var(--left, var(--inset-x, var(--inset)));
  right: var(--right, var(--inset-x, var(--inset)));
  flex: var(--flx);
  flex-direction: var(--flx-dir);
  flex-wrap: var(--flx-wrap);
  flex-grow: var(--flx-grow);
  flex-shrink: var(--flx-shrink);
  order: var(--order);
  padding: var(--p);
  padding-top: var(--pt, var(--py));
  padding-bottom: var(--pb, var(--py));
  padding-left: var(--pl, var(--px));
  padding-right: var(--pr, var(--px));
  margin: var(--m);
  margin-top: var(--mt, var(--my));
  margin-bottom: var(--mb, var(--my));
  margin-left: var(--ml, var(--mx));
  margin-right: var(--mr, var(--mx));
  width: var(--w);
  min-width: var(--min-w);
  max-width: var(--max-w);
  height: var(--h);
  min-height: var(--min-h);
  max-height: var(--max-h);
  flex: var(--flx);

}
