$presets: null !default;

$darkMode: false !default;

$theme: (
  screens: (
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    2xl: 1536px,
  ),
) !default;

$variant-order: (
  first,
  last,
  odd,
  even,
  visited,
  checked,
  group-hover,
  group-focus,
  focus-within,
  hover,
  focus,
  focus-visible,
  active,
  disabled,
) !default;

$variants: (
  display: null responsive,
) !default;
